<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro '$(find deepracer_car)/urdf/xacro/deepracer/deepracer.xacro'"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="racecar_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param /robot_description -model deepracer  -z 0.03" />
<!-- -x 1.75 -y -14.00 -->
 
  <!-- ros_control racecar launch file -->

  <include file="$(find deepracer_car)/launch/racecar_control.launch"/>

</launch>
