<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="$(find simulation)/worlds/2022_march_pro.world"/>

  <include file="$(find deepracer_car)/launch/gazebo.launch">
    <arg name="world_name" value="$(arg world_name)"/>
  </include>



</launch>

<!-- control car in another terminal window with -->
<!-- roslaunch teleop_ackermann teleop.launch -->

<!-- export GAZEBO_MODEL_PATH=$GAZEBO_MODEL_PATH:/home/kolobok/my_projects/deepRacerSim/deep_ws/src/simulation/tracks/ -->
 <!-- export GAZEBO_RESOURCE_PATH=$GAZEBO_RESOURCE_PATH:/home/kolobok/my_projects/deepRacerSim/deep_ws/src/simulation/ -->